<!DOCTYPE html>

<html {{ HTML_ATTRS }}>

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

  <script src="https://polyfill.io/v2/polyfill.min.js?features=default,IntersectionObserver"></script>
  {{ HEAD }}
  <script src="/errors.js" async defer></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125006270-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-125006270-1');
    gtag('config', 'AW-1002132834');
  </script>

  <style>
    #__old-browser-alert,
    #__general-error {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      margin-bottom: 0;
      z-index: 9999;
    }
  </style>
  <noscript>
    <div class="notification is-danger">Para tener una experiencia óptima, habilita JavaScript en tu navegador.</div>
  </noscript>
</head>

<body {{ BODY_ATTRS }}>
  {{ APP }}
  <div id="__old-browser-alert" style="display:none;" class="notification is-warning ie-warning has-text-centered">
    <h1 class="title is-size-5-desktop">Navegador antiguo</h1>
    <h2 class="subtitle is-size-5-desktop">Actualiza tu navegador para ver este sitio correctamente.</h2>
    <a href="http://outdatedbrowser.com/es" class="button is-black is-outlined">Actualiza aquí</a>
  </div>
  <div id="__general-error" style="display:none;" class="notification is-danger has-text-centered">
    <h1 class="title is-size-5-desktop">Hubo un error</h1>
    <input type="button" class="button is-white" value="Intenta recargar la página" onClick="window.location.href=window.location.href">
    <p><br></p>
    <p class="">Si este error persiste, <a href="http://outdatedbrowser.com/es">actualiza tu navegador</a></p>
  </div>
</body>

</html>
