<template>
  <div class="notification">
    Demo de soap
    <button class="button"
            @click="sendRequest">Solicitar</button>
  </div>
</template>

<script>
import { SOAPClient, SOAPClientParameters } from '~/utils/soapclient'
/**
 * Demo de formulario con soap
 */
export default {
  name: 'FormSoap',
  methods: {
    sendRequest() {
      const pl = new SOAPClientParameters()
      const result = new SOAPClient(
        'http://www.wscd.divisionautomotriz.com/WS_Leads.svc',
        'createLead',
        null,
        pl,
        false,
        e => {
          console.log('Callback soap', e)
        }
      )
      console.log(result)
    },
  },
}
</script>

<style>
</style>
