<template
  functional>
  <article
    v-bind="data.attrs"
    class="card">
    <div
      v-if="props.image"
      class="card-image">
      <template
        v-if="props.href">
        <a
          v-if="props.href.startsWith('//')
            || props.href.startsWith('http')
          || props.href.startsWith('#')"
          :href="props.href"
          target="_blank"
          class="image"
          rel="noopener">
          <slot name="image">
            <img
              :src="props.image"
              :alt="props.title"
              class="image">
          </slot>
        </a>
        <nuxt-link
          v-else
          :to="props.href"
          class="image">
          <slot name="image">

            <img
              :src="props.image"
              :alt="props.title"
              class="image">
          </slot>
        </nuxt-link>
      </template>
      <slot v-else
            name="image">
        <img
          :src="props.image"
          :alt="props.title"
          class="image">
      </slot>
    </div>
    <div
      class="card-content">
      <!-- @slot El contenido de la tarjeta -->
      <slot />
    </div>
    <div
      v-if="!!slots().foot"
      class="card-foot">
      <!-- @slot El pie de la tarjeta -->
      <slot
        name="foot" />
    </div>
  </article>
</template>

<script>
/**
 * Tarjeta de bulma
 *
 * @version 1.0
 * @author: César Valadez | DinamoMX
 * @since: 2018-08-18
 * @desc: Es un simple wrapper funcional para las tarjetas,
 *  no tiene estado así que el rendimiento es espectacular.
 */

export default {
  name: 'Card',
  props: {
    /**
     * La imagen a usar en la tarjeta
     */
    image: {
      type: String,
      default: '',
    },
    /**
     * El título de la tarjeta, se usa como alt para la imagen
     */
    title: {
      type: String,
      default: '',
    },
    /**
     * El enlace de la tarjeta, se aplica a la imagen
     * puedes usar enlaces relativos o absolutos
     */
    href: {
      type: String,
      default: '',
    },
  },
}
</script>

<docs>

Este es un componente presentacional, osea solo sirve como una estructura base
de estilos y html sin proveer ninguna funcionalidad

```jsx
<card
  image="https://plantilla.dinamo.mx/images/placeholder/example_full.jpg"
  title="INFINITI LAB">
  <p class="subtitle">INFINITI LAB</p>
  <p>Impulsando a emprendedores para transformar sus ideas en acciones.</p>
</card>
```

Con el atributo href convierte la imagen en un enlace

```jsx
<card
  image="https://plantilla.dinamo.mx/images/placeholder/example_full.jpg"
  title="INFINITI LAB"
  href="/">
  <p class="subtitle">INFINITI LAB</p>
  <p>Impulsando a emprendedores para transformar sus ideas en acciones.</p>
</card>
```

</docs>
