<template>
  <a
    v-if="isExternalLink"
    :href="href"
    :class="buttonClasses"
    rel="noopener"
    target="_blank">
    <span
      v-if="type === 'text'"
      aria-hidden
      class="icon is-small"><i
        :class="[iconPack, icon]" /></span>
    <span
      v-if="type === 'text'">
      <slot />
    </span>
    <slot
      v-else />
  </a>
  <nuxt-link
    v-else
    :to="href"
    :class="buttonClasses">
    <span
      v-if="type === 'text'"
      aria-hidden
      class="icon is-small"><i
        :class="[iconPack, icon]" /></span>
    <span
      v-if="type === 'text'">
      <slot />
    </span>
    <slot
      v-else />
  </nuxt-link>
</template>

<script>
import externalLink from '~/mixins/external-link'

/**
 * Botón simple con ícono, a veces usando muchos botones en markdown
 * se vuelve un caos.
 */
export default {
  name: 'ButtonSimple',
  mixins: [externalLink],
  props: {
    /**
     * El enlace de la tarjeta, se aplica a la imagen
     * puedes usar enlaces relativos o absolutos
     */
    href: {
      type: [String, Object],
      required: true,
      default: '/',
    },
    type: {
      type: String,
      default: 'button',
    },
    hasIcon: {
      type: Boolean,
      default: true,
    },
    icon: {
      type: String,
      default: 'fa-arrow-right',
    },
    iconPack: {
      type: String,
      default: 'fas',
    },
  },
  computed: {
    buttonClasses() {
      if (this.type === 'button') {
        return ['button', 'is-black', 'is-outlined']
      }
      return ['button', 'is-text']
    },
  },
}
</script>

<style lang="scss" scoped>
// Hacemos esto por que hay enlaces con texto demasiado largo
.button {
  height: auto;
  text-align: left;
  white-space: normal;
  align-items: flex-start;

  .icon {
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }
}
</style>
