<template>
  <div class="image-slider">
    <transition
      name="fade"
      css
      mode="in-out">

      <img
        :key="selected.src"
        :src="selected.src"
        :alt="selected.alt"
        :srcset="selected.srcset"
        class="image-slider__item">
    </transition>
    <!--
      Esto carga las imagenes en caché y me dice cuando ya todo está cargado
       -->
    <ul
      v-if="displayImageLoader"
      aria-hidden
      class="image-loader">
      <li v-for="(image, id) in images"
          :key="id"
          class="image-slider__item">
        <img :src="image.src"
             :alt="image.alt"
             :srcset="image.srcset"
             class="image-slider__image"
             @load="imageLoaded">
      </li>
    </ul>
  </div>

</template>

<script>
/* eslint-disable no-console */

export default {
  name: 'ImageSlider',
  props: {
    images: {
      type: Array,
      default: () => [{ src: '', srcset: '', alt: '' }],
    },
    timing: {
      type: Number,
      default: 5000,
    },
  },
  data() {
    return {
      selectedIndex: 0,
      timer: null,
      imageLoadedCount: 0,
      displayImageLoader: false,
    }
  },
  computed: {
    selected() {
      return this.images[this.selectedIndex]
    },
  },
  mounted() {
    this.displayImageLoader = true
    // Si en 30 segundos no cargaron las imagenes, me mato
    setTimeout(() => {
      const allImagesLoaded = this.imageLoadedCount >= this.images.length
      const timerStarted = !!this.timer
      if (!timerStarted) {
        if (!allImagesLoaded) {
          console.warn(
            'No todas las imagenes se cargaron después de 15 sec',
            this
          )
        }
        // FLasheo el elemento que contiene las imagenes, así fuerzo la carga y
        // los eventos de carga
        this.displayImageLoader = false
        this.$nextTick(() => {
          this.displayImageLoader = true
        })
      }
    }, 30 * 1000)
  },
  methods: {
    imageLoaded(e) {
      console.log('image loaded', e)
      this.imageLoadedCount += 1
      if (this.imageLoadedCount >= this.images.length) {
        this.startTimer()
      }
    },
    startTimer() {
      this.timer = setInterval(this.changeImage, this.timing)
      console.log('timer iniciado', this.timer)
    },
    changeImage() {
      let nextIndex = this.selectedIndex + 1
      if (nextIndex >= this.images.length) {
        nextIndex = 0
      }
      this.selectedIndex = nextIndex
    },
  },
}
</script>
<style lang="scss">
@import 'assets/sass/base/basic';

.image-slider {
  position: relative;
  display: block;
  max-width: 100%;
  height: 100%;
  min-height: 1rem;
  list-style: none;

  &__item {
    @include overlay;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.image-loader {
  position: absolute;
  top: -9999px;
  left: -99999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}
</style>
