<template>
  <nav
    :class="{'is-active': menuStatus}"
    class="navbar is-transparent">
    <div
      class="container">
      <div
        class="navbar-brand">
        <a class="navbar-item logo_item"
           href="http://www.darilamexico.com"
           target="_blank"
           rel="noopener noreferrer">

          <img
            src="/images/darila_logo.png"
            class="brand-logo"
            alt="Darila México">
        </a>
        <a
          href="https://wa.me/525554162973"
          target="_blank"
          rel="noopener noreferrer"
          class="navbar-item is-hidden-desktop">
          <span class="icon is-medium">
            <i class="fab fa-whatsapp fa-2x" />
          </span>
        </a>
        <a
          href="https://www.facebook.com/Darila-M%C3%A9xico-1960324564213522/"
          target="_blank"
          rel="noopener noreferrer"
          class="navbar-item is-hidden-desktop">
          <span class="icon is-medium">
            <i class="fab fa-facebook-square fa-2x" />
          </span>
        </a>
        <a role="button"
           class="navbar-burger burger"
           aria-label="menu"
           aria-expanded="false"
           @click="menuStatus = !menuStatus">
          <span aria-hidden="true" />
          <span aria-hidden="true" />
          <span aria-hidden="true" />
        </a>
      </div>
      <div
        :class="['navbar-menu', menuStatus ? 'is-active' : '' ]">
        <div class="navbar-start">
          <a href="https://www.darilamexico.com/nosotros/"
             target="_blank"
             rel="noopener noreferrer"
             class="navbar-item">Nosotros</a>
          <a href="https://www.darilamexico.com/como-comprar/"
             target="_blank"
             rel="noopener noreferrer"
             class="navbar-item">¿Cómo comprar?</a>
          <a href="https://www.darilamexico.com/contacto/"
             target="_blank"
             rel="noopener noreferrer"
             class="navbar-item">Contacto</a>
        </div>
        <div class="navbar-end">
          <a
            href="https://web.whatsapp.com/send?phone=525554162973"
            target="_blank"
            rel="noopener noreferrer"
            class="navbar-item is-hidden-touch">
            <span class="icon is-medium">
              <i class="fab fa-whatsapp fa-2x" />
            </span>
          </a>
          <a
            href="https://www.facebook.com/Darila-M%C3%A9xico-1960324564213522/"
            target="_blank"
            rel="noopener noreferrer"
            class="navbar-item is-hidden-touch">
            <span class="icon is-medium">
              <i class="fab fa-facebook-square fa-2x" />
            </span>
          </a>
          <a
            href="tel:+525555851259"
            class="navbar-item">Teléfono: 55 5585-1259</a>
          <a
            href="tel:+525554162973"
            class="navbar-item">Celular: 55 5416-2973</a>
        </div>
      </div>
    </div>

  </nav>
</template>
<script>
/**
 * Header de bulma
 *
 * @version 1.0
 */
export default {
  name: 'TheHeader',
  data: () => ({
    /**
     * Abrir o cerrar el menu mobil
     */
    menuStatus: false,
  }),
  watch: {
    $route() {
      if (this.menuStatus) {
        this.menuStatus = false
      }
    },
  },
}
</script>
<style lang="scss">
@import 'assets/sass/base/basic';
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-max-type */
.a.navbar-item.is-active {
  background-color: transparent;
}

a.navbar-item:hover,
.navbar-item:hover,
.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
  color: $white;
  text-decoration: underline;
  background-color: transparent !important;
}

.navbar-burger span {
  color: $white;
}

@keyframes showmenu {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@include touch {
  .navbar-menu {
    position: absolute;
    top: $navbar-height$navbar-height;
    right: 0;
    left: 0;
    animation: showmenu 800ms ease forwards;
  }

  .navbar-menu,
  .navbar {
    transition: background 800ms ease;

    &.is-active {
      background: rgba($black, 0.9);
    }
  }
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  + * > .hero:first-of-type {
    padding-top: $navbar-height;
  }
}

// .navbar + * > .hero:first-of-type {
//   position: relative;
//   padding-top: 8rem;
//   margin-top: -8rem;
// }
</style>
<docs>

```jsx
<the-header></the-header>
```
</docs>
