<template>
  <div>
    <the-header />
    <nuxt />
    <footer class="footer">
      <div class="container">
        <a
          href="https://www.facebook.com/Darila-M%C3%A9xico-1960324564213522/"
          target="_blank"
          class="footer-link">
          <div class="icon is-medium">
            <i class="fab fa-facebook-square fa-2x" />
          </div>
        </a>
        <p>Centro Comercial "La Plaza"<br>
          Avenida Toluca #571, Piso 1<br>
          Col. Olivar de los Padres, C. P. 01780<br>
          Deleg. Álvaro Obregón, CDMX</p>
        <a
          href="tel:55 5585-1259"
          class="footer-link">Teléfono:<br> 55 5585-1259</a>
        <a
          href="tel:55 5416-2973"
          class="footer-link">Celular:<br> 55 5416-2973</a>
      </div>
    </footer>
  </div>

</template>

<script>
import scrollTracking from '~/mixins/scroll-tracking'
import TheHeader from '~/components/TheHeader.vue'

export default {
  name: 'DefaultLayout',
  components: {
    TheHeader,
  },
  mixins: [scrollTracking],
}
</script>

<style lang="scss">
.footer {
  .container {
    align-items: center;
    justify-content: space-around;
    @include desktop {
      display: flex;
    }
    @include touch {
      text-align: center;
    }
    .footer-link {
      display: inline-block;
      margin: 0 0.5rem;
    }
  }
}
</style>
