<template>
  <section 
    class="hero is-fullheight">
    <div 
      class="hero-body">
      <div 
        class="container">
        <div 
          class="notification is-danger has-text-centered">
          <h2
            v-if="error.statusCode === 404"
            class="subtitle has-text-centered">
            Página no encontrada
          </h2>
          <pre 
            v-else>{{ error }}</pre>
          <p 
            class="">
            <nuxt-link 
              to="/">Regresar al inicio</nuxt-link>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Error',
  // eslint-disable-next-line
  props: {
    error: {
      type: Object,
      required: true,
      default: () => ({
        statusCode: 404,
      }),
    },
  },
}
</script>

<style>
</style>
