<template>
  <div class="main">
    <div class="container aviso-privacidad">
      <!-- eslint-disable max-len -->
      <div class="columns is-centered">
        <div class="column is-8">
          <h1 class="title is-1">Aviso de privacidad</h1>
          <div class="has-text-justified">
            <p>
              La privacidad y seguridad de tu información personal es muy importante para nosotros. De conformidad con lo dispuesto por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (La "Ley") y su Reglamento (el "Reglamento"), les informamos a todos nuestros clientes proveedores o cualquier otra persona física, el presente Aviso de Privacidad. Si nos proporcionas Datos, daremos por entendido que estás de acuerdo con los términos de este Aviso, las finalidades del tratamiento de tus Datos, así como los medios y procedimiento que ponemos a tu disposición para ejercer tus derechos de acceso, rectificación, cancelación y oposición se encuentran en este Aviso de Privacidad.
            </p>
            <h2 class="title is-4">I.- IDENTIDAD Y DOMICILIO DEL RESPONSABLE.</h2>
            <p>
              El Responsable del tratamiento de tus datos es: Darila México, S. de R. L. de C. V., en lo sucesivo Darila México, con domicilio en Cerrada de Avenida Toluca # 24, Col. Olivar de los Padres, Alvaro Obregón, C. P. 01780, CDMX, México.</p>
            <h2 class="title is-4">
              II.- DATOS PERSONALES SOMETIDOS A TRATAMIENTO.
            </h2>
            <p>Para las finalidades señaladas en el presente Aviso de Privacidad, podemos recabar sus datos personales de distintas formas: cuando acudes a nuestro domicilio fiscal, nuestra sala de exhibición, vía telefónica, por medios electrónicos o a través de fuentes permitidas por ley.</p>
            <p>Los datos personales recabados y/o a recabarse serán, según corresponda:</p>
            <p>DATOS DE IDENTIFICACIÓN: nombre, nacionalidad, fecha y lugar de nacimiento, edad, sexo, estado civil, registro federal de contribuyentes (RFC), clave única de registro de población (CURP) teléfono particular, teléfono celular y/o correo electrónico personal.</p>
            <p>DATOS ACADÉMICOS: trayectoria educativa, títulos, cédula profesional, entre otros.</p>
            <p>DATOS LABORALES: cargo, domicilio de trabajo, teléfono, correo electrónico de trabajo, referencias laborales y/o personales.
            </p>
            <h2 class="title is-4">III.-FINALIDADES DEL TRATAMIENTO.</h2>
            <ul>
              <li>Brindar el servicio y los servicios y/o productos solicitados.</li>
              <li>Ofrecer la información sobre nuestros productos y/o servicios.</li>
              <li>Comunicar descuentos y promociones sobre nuestros servicios y/o productos.</li>
              <li>Atender solicitudes y quejas.</li>
              <li>Evaluar la calidad de nuestro servicio.</li>
              <li>Para fines comerciales.</li>
              <li>Para fines fiscales y/o de facturación.</li>
              <li>Para mejorar nuestro contenido de sitio web y notificarte sobre actualizaciones al mismo.</li>
              <li>Para mantener resguardos físicos, electrónicos y de procedimiento.</li>
            </ul>


            <p>En caso de que celebremos contigo un acto relacionado con alguno de nuestros servicios o productos, tus datos serán utilizados para el cumplimiento de las obligaciones derivadas de esa relación jurídica. En caso de no concretarse ninguna relación jurídica los datos que nos hayas proporcionado serán bloqueados y posteriormente eliminados. La información que haya sido bloqueada podrá conservarse por el plazo necesario que cumpla con las disposiciones legales y posteriormente será suprimida.</p>
            <p>Únicamente el personal autorizado de Darila México que ha cumplido y observado los correspondientes requisitos de confidencialidad, podrá participar en el tratamiento de tus datos personales. El personal autorizado tiene prohibido permitir el acceso de personas no autorizadas y utilizar tus datos personales para fines distintos a los establecidos en el presente Aviso de Privacidad. La obligación de confidencialidad de las personas que participan en el tratamiento de tus datos personales subsiste aun después de terminada su relación con Darila México.</p>
            <p>Darila México actuará como responsable de la base de datos en la que se encontrará tu información, implementará las medidas de seguridad, técnicas, administrativas y físicas, necesarias para proteger tus datos personales y evitar daño, pérdida, alteración, destrucción o el uso, acceso o tratamiento no autorizado.</p>
            <h2 class="title is-4">IV.- MECANISMOS PARA MANIFESTAR NEGATIVA AL TRATAMIENTO DE DATOS PERSONALES.</h2>
            <p>En todo momento podrás consultar tu información, rectificarla u oponerte al tratamiento de tus datos para esto será necesario que acudas al domicilio de Darila México, ubicado en Cerrada de Avenida Toluca # 24, Col. Olivar de los Padres, Alvaro Obregón, C. P. 01780, CDMX, México, o bien llamar al 52 (55) 5585 1259.</p>
            <h2 class="title is-4">  V.- TRANSFERENCIA DE DATOS PERSONALES.</h2>
            <p>Con fundamento a lo establecido en los Artículos 36 y 37 de la Ley, los datos pueden ser trasferidos lícitamente para las finalidades establecidas en el presente aviso de privacidad, incluyendo pero sin limitar a:</p>
            <p>Nuestras subsidiarias, filiales, afiliadas y/o controladoras dentro del territorio nacional o en el extranjero;</p>
            <p>Encargados en materia de atención de clientes, estudios y despachos de cobranza relacionados con la prestación de nuestros servicios y productos;</p>
            <p>Terceros como agencias de publicidad que participen con nosotros con el fin de brindarte nuestros productos y servicios.</p>
            <h2 class="title is-4">VI.- MEDIOS Y PROCEDIMIENTO PARA EJERCER LOS DERECHOS ARCO.</h2>
            <p>En cualquier momento podrás ejercer los derechos de acceso, rectificación, cancelación, oposición o revocar tu consentimiento para el tratamiento de tus datos, lo anterior lo podrás realizar presentando un escrito libre en las oficinas de Darila México, en un horario de 11 a.m. a 7 p.m. o bien vía correo electrónico a: info@darilamexico.com (en este último caso, requeriremos tu consentimiento para que las notificaciones que realicemos en relación a tu solicitud, surtan efectos a través del correo electrónico que nos proporcionas), la cual deberá contener: tu nombre completo o en su caso tu apoderado legal, tu domicilio, tu teléfono, descripción clara y precisa de los datos personales respecto de los que solicitas ejercer alguno de los derechos ARCO, en su caso tu manifestación expresa para revocar el consentimiento al tratamiento de tus datos y cualquier otro elemento que facilite la localización de tus datos (fecha en que nos fueron proporcionaron los datos, persona que atendió, áreas involucradas y cualquier dato que nos permita identificar tu información). El titular garantiza que los datos proporcionados son exactos y completos, para lo cual se hace responsable por cualquier daño o perjuicio por falsedad o suplantación de identidad. Para dar trámite a cualquiera de estos derechos deberás previamente acreditar tu identidad o personalidad mediante asistencia personal presentando original y copia de tu identificación oficial y/o poder notarial vigente.</p>
            <p>El resto del procedimiento será tramitado conforme a los plazos y etapas que dispone la ley en la materia.</p>
            <h2 class="title is-4">VII.- MECANISMO Y PROCEDIMIENTO PARA EL CASO DE REVOCAR EL CONSENTIMIENTO DEL TITULAR.</h2>
            <p>Podrás revocar el consentimiento que nos hayas otorgado y que fuere necesario para el tratamiento de tus datos personales a fin de que los mismos se dejen de usar. Para dichos efectos, deberás enviar tu petición en términos de lo indicado en el apartado VI anterior.</p>
            <h2 class="title is-4">VIII.- OPCIONES PARA LIMITAR EL USO DE INFORMACIÓN DE DATOS PERSONALES.</h2>
            <p>Si deseas optar por limitar el uso, transferencia o divulgación de tus datos favor de contactarnos al siguiente correo electrónico: info@darilamexico.com o bien acudir a las oficinas de Darila México en ambos casos, le daremos seguimiento a tu solicitud.</p>
            <h2 class="title is-4">IX.- CONSENTIMIENTO.</h2>
            <p>Cuando sea aplicable, si no manifiestas tu oposición para que tus datos sean tratados en los términos señalados en el presente Aviso, se entenderá que has otorgado tu consentimiento para ello.</p>
            <h2 class="title is-4">X.- ACTUALIZACIÓN Y/O MODIFICACION AL AVISO DE PRIVACIDAD.</h2>
            <p>Darila México se reserva el derecho de actualizar y/o modificar los términos del presente aviso de privacidad en cualquier momento, en cuyo caso, comunicará dicha situación en su página de Internet <a href="http://darilamexico.mx/">http://darilamexico.mx/</a>, mediante un correo electrónico a la dirección que nos hayas proporcionado, o mediante cualquier medio de comunicación que Darila México estime adecuado.</p>
            <h2 class="title is-4">XI.- COOKIES.</h2>
            <p>Te informamos que en nuestro sitio web no utilizamos cookies u otras tecnologías para seguir las preferencias de nuestros visitantes.</p>
            <h2 class="title is-4">XII.- INFORMACIÓN DEL CONTACTO:</h2>
            <p>Puedes escribirnos a: info@darilamexico.com o por teléfono al 52 (55) 5585 1259 desde cualquier parte de la República Mexicana.</p>
            <p>La fecha de la última actualización del presente aviso de privacidad es: 16 de agosto de 2018.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<style lang="scss" scoped>
.aviso-privacidad {
  margin-bottom: 9rem;

  .title {
    margin-top: 1rem;
  }
}

// stylelint-disable selector-max-type
.has-text-justified {
  .title {
    text-align: left;
  }

  p {
    text-align: justify;
  }
}
</style>
