<template>
  <main class="hero is-fullheight is-primary">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-size-1-desktop">
          ¡Muchas gracias!
        </h1>
        <p class="subtitle">
          Tu satisfacción es lo más importante.<br>
          Pronto nos pondremos en contacto.
        </p>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: 'PageGracias',
  head: {
    title: 'Gracias',
    meta: [{ name: 'robots', content: 'noindex' }],
  },
  mounted() {
    window.gtag('config', 'UA-125006270-1', {
      page_title: 'Gracias',
      page_path: '/gracias',
    })
    window.gtag('config', 'AW-1002132834', {
      page_title: 'Gracias',
      page_path: '/gracias',
    })
  },
}
</script>
