<template>
  <main class="page--index">
    <!-- eslint-disable max-len -->
    <section
      class="hero is-halfheight"
      :style="heroStyle">
      <div class="is-overlay">
        <image-slider :images="sliderImages" />
      </div>
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column has-text-centered has-vertical-centered">
              <div class="mobile-contrast">
                <h1 class="title is-2 has-text-shadow has-text-white">
                  Regala arte hecho por manos mexicanas.
                  Recibe un 10% de descuento al realizar tu pedido antes del 31 de octubre.</h1>
                <p class="is-size-4 has-text-weight-bold has-text-white ">
                  <span class="has-text-shadow">Conoce más de nuestros productos:</span><br>
                  <a
                    aria-label="Conoce más de nuestros productos"
                    href="#productos">
                    <i class="fal fa-chevron-circle-down go-bottom" />
                  </a>
                </p>
              </div>

            </div>
            <div
              class="column is-4">

              <form-generic
                id="formulario"
                ref="form"
                sheet-destiny="Leads">
                <p class="title is-4 has-text-centered">¡Cotiza ahora!</p>
                <p class="subtitle is-5 has-text-centered">Recibe una atención 100% personalizada.</p>
              </form-generic>
            </div>
          </div>

        </div>
      </div>
    </section>
    <section class="is-hidden-desktop">
      <div class="contact-box">
        <a
          href="https://www.facebook.com/Darila-M%C3%A9xico-1960324564213522/"
          target="_blank"
          class="item">
          <i class="fab fa-facebook-square" />
        </a>
        <a
          href="tel:55 5585-1259"
          class="item">Teléfono: 55 5585-1259</a>
        <a
          href="tel:55 5416-2973"
          class="item">Celular: 55 5416-2973</a>
      </div>
    </section>
    <section
      id="productos"
      class="section">
      <div class="container">
        <div class="cards">
          <card
            href="https://www.darilamexico.com/talavera/"
            image="/images/fotos/talavera1080.jpg"
            title="Talavera">
            <image-cloud
              slot="image"
              src="darila/promociones.darilamexico.com/talavera1080.png" />
            <p class="subtitle">Talavera</p>
            <p>Cada pieza es moldeada a mano en un torno, el decorado es hecho a mano y el proceso  para producir una pieza toma desde uno hasta seis meses.</p>
          </card>

          <card
            href="https://www.darilamexico.com/pewter-y-aluminio-ligero/"
            image="/images/fotos/pewter.jpg"
            title="Pewter">
            <image-cloud
              slot="image"
              src="darila/promociones.darilamexico.com/pewter.jpg" />
            <p class="subtitle">Pewter</p>
            <p>Es una aleación de 97% de aluminio, <span class="nowrap">2.06%</span> de silicio metálico y <span class="nowrap">.04%</span> de cobre; este producto tiene un brillo y elegancia con los que se crean hermosas piezas.</p>
          </card>

          <card
            href="https://www.darilamexico.com/vidrio-soplado/"
            image="/images/fotos/vidrio-soplado.jpg"
            title="Vidrio Soplado">
            <image-cloud
              slot="image"
              src="darila/promociones.darilamexico.com/vidrio-soplado.jpg" />
            <p class="subtitle">Vidrio soplado</p>
            <p>Piezas decorativas creadas con burbujas de vidrio fundido a altas temperaturas para crear bellas formas.</p>
          </card>

          <card
            href="https://www.darilamexico.com/productos-gourmet/"
            image="/images/fotos/gourmet.jpg"
            title="Productos Gourmet">

            <image-cloud
              slot="image"
              src="darila/promociones.darilamexico.com/gourmet.jpg" />
            <p class="subtitle">Productos gourmet</p>
            <p>Sabores únicos que deleitarán tu paladar con productos tradicionales de varios estados de México.</p>
          </card>

          <card
            href="https://www.darilamexico.com/articulos-navidenos/"
            image="/images/fotos/navidad.jpg"
            title="Productos Navideños">

            <image-cloud
              slot="image"
              src="darila/promociones.darilamexico.com/navidad.jpg" />
            <p class="subtitle">Navidad</p>
            <p>Comparte con quienes más quieres artesanías mexicanas acompañadas por dulces, galletas, chocolates y productos gourmet de la más alta calidad.</p>
          </card>
        </div>
      </div>
    </section>

    <!-- eslint-enable max-len -->
  </main>
</template>

<script>
import FormGeneric from '~/components/Form/Generic.vue'
import Card from '~/components/BaseCard.vue'
import ImageSlider from '~/components/ImageSlider.vue'
import ImageCloud from '~/components/ImageCloud.vue'

export default {
  name: 'Index',
  components: { FormGeneric, Card, ImageSlider, ImageCloud },
  head: {
    title: 'Index',
  },
  data: () => ({
    files: [],
    sliderImages: [
      // {
      //   src: '/images/caballitos-de-vidrio-con-tequila_medium.jpg',
      //   srcset: `
      //   /images/caballitos-de-vidrio-con-tequila_large.jpg 1280w,
      //   /images/caballitos-de-vidrio-con-tequila_medium.jpg 780w,
      //   /images/caballitos-de-vidrio-con-tequila_small.jpg 420w`,
      //   alt: 'Caballitos de vidrio con tequila',
      // },
      // {
      //   src: '/images/damajuana-con-mezcal_medium.jpg',
      //   srcset: `
      //   /images/damajuana-con-mezcal_large.jpg 1280w,
      //   /images/damajuana-con-mezcal_medium.jpg 780w,
      //   /images/damajuana-con-mezcal_small.jpg 420w`,
      //   alt: 'Damajuana con mezcal',
      // },
      {
        src: '/images/flor-decorativa_medium.jpg',
        srcset: `
        /images/flor-decorativa_large.jpg 1280w,
        /images/flor-decorativa_medium.jpg 780w,
        /images/flor-decorativa_small.jpg 420w`,
        alt: 'Flor decorativa',
      },
      {
        src: '/images/candeleros-base-madera_medium.jpg',
        srcset: `
        /images/candeleros-base-madera_large.jpg 1280w,
        /images/candeleros-base-madera_medium.jpg 780w,
        /images/candeleros-base-madera_small.jpg 420w`,
        alt: 'Candeleros con base de madera',
      },
      {
        src: '/images/estuche-para-te_medium.jpg',
        srcset: `
        /images/estuche-para-te_large.jpg 1280w,
        /images/estuche-para-te_medium.jpg 780w,
        /images/estuche-para-te_small.jpg 420w`,
        alt: 'Estuche para té',
      },
      {
        src: '/images/juego-de-jarra_medium.jpg',
        srcset: `
        /images/juego-de-jarra_large.jpg 1280w,
        /images/juego-de-jarra_medium.jpg 780w,
        /images/juego-de-jarra_small.jpg 420w`,
        alt: 'Juego de jarra',
      },
      {
        src: '/images/quesera-manzana_medium.jpg',
        srcset: `
        /images/quesera-manzana_large.jpg 1280w,
        /images/quesera-manzana_medium.jpg 780w,
        /images/quesera-manzana_small.jpg 420w`,
        alt: 'Quesera manzana',
      },
    ],
    isMobile: false,
    media: null,
    formHeight: 0,
  }),
  computed: {
    heroStyle() {
      if (this.isMobile) {
        return { 'margin-bottom': `${this.formHeight}px` }
      }
      return { 'margin-bottom': 0 }
    },
  },
  mounted() {
    this.media = window.matchMedia('(max-width: 768px)')
    this.checkMedia()
    window.addEventListener('resize', this.checkMedia)
  },
  methods: {
    checkMedia() {
      this.isMobile = this.media.matches
      if (this.isMobile) {
        this.getFormHeight()
      }
    },
    getFormHeight() {
      const { height } = this.$refs.form.$el.getBoundingClientRect()
      this.formHeight = height
    },
  },
}
</script>
<style lang="scss" scoped>
@import '~assets/sass/base/basic';

.brand-logo {
  max-width: 200px;
}

.has-text-shadow {
  text-shadow: 1px 2px $black;

  .fal {
    text-shadow: 1px 1px 2px $white;
  }
}

.mobile-contrast {
  @include mobile {
    padding: 1rem;
    background: rgba($black, 0.6);

    .go-bottom {
      color: $white;
    }
  }
}

.is-overlay {
  .image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}

.has-streched {
  align-items: stretch;
}

.cards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;

  @include from($tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include from($widescreen) {
    grid-template-columns: repeat(5, 1fr);
  }

  .card {
    // width: 90%;
    // margin: 1rem auto;
    // @include from($tablet) {
    //   width: 30%;
    //   margin: 0.5rem;
    // }
  }
}

.contact-box {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-align: center;
  justify-content: space-around;
  @include until($tablet) {
    flex-direction: column;
  }
  @include from($tablet) {
    flex-direction: row;
  }

  .item {
    color: $brand-primary;
  }
}

.go-bottom {
  font-size: 3rem;
  color: rgba($primary, 0.8);
}

.nowrap {
  white-space: nowrap;
}

.title.is-2 {
  @include until($tablet) {
    font-size: 1rem;
  }
  @include from($tablet) {
    font-size: 2.5rem;
  }
}

.has-vertical-centered {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

@include mobile {
  .hero {
    min-height: 100vh;

    .column {
      position: relative;
    }
  }

  .hero-body {
    align-items: flex-end !important;
    padding-bottom: 5rem;
  }
  /* stylelint-disable-next-line */
  #formulario {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
}
</style>
